@using Fluxor
@using RonSijm.FluxorDemo.Blazyload.WeatherLib4.Component.Redux
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<WeatherLib4CounterState> CounterState

<p role="status">Current count: @CounterState.Value.Count</p>