@page "/fetchdata4"

@using Fluxor
@using Microsoft.AspNetCore.Components.Web
@using RonSijm.FluxorDemo.Blazyload.WeatherLib4.Component.Redux
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IDispatcher Dispatcher

<PageTitle>Fetch Data 1</PageTitle>

<br />
<p>A counter where the redux stuff in in a different project lazy loaded project</p>
<br />

<button class="btn btn-primary" @onclick="IncrementCount">Click</button>

@code 
{
    private void IncrementCount()
    {
        Dispatcher.Dispatch(new IncreaseWeatherLib4CounterAction());
    }
}
<CounterComponent />