@page "/Lib1ReduceIntoMethod"
@using RonSijm.FluxorDemo.Blazyload.WeatherLib1.Redux.State2ReducerMethod
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IDispatcher Dispatcher

<PageTitle>Fetch Data 1</PageTitle>

<br />
<p>A counter where everything is in 1 lazy loaded project</p>
<br />

<button class="btn btn-primary" @onclick="IncrementCount">Click</button>

@code
{
    private void IncrementCount()
    {
        Dispatcher.Dispatch(new Lib1Counterstate2UpdateAction());
    }
}

<Lib1ReducerIntoCounterComponent2 />