@inherits ViewModelComponent<RonSijm.FluxorDemo.Blazyload.HostLib.Redux.MainProjectCounterFromInterfaceState>

@if (ViewModel == null)
{
    <p role="status">Current count: Null</p>
}
else if (ViewModel == null)
{
    <p role="status">Current count: Inner state null</p>
}
else
{
    <p role="status">Current count: @ViewModel.Count</p>
}