@using RonSijm.FluxorDemo.Blazyload.WeatherLib1.Redux.ReduceIntoCounterState1

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<Lib1ReduceIntoCounterState> CounterState

@if (CounterState.Value == null)
{
    <p role="status">Current count: Null</p>
}
else if (CounterState.Value.CounterState== null)
{
    <p role="status">Current count: Inner state null</p>
}
else
{
    <p role="status">Current count: @CounterState.Value.CounterState.Count</p>
}