<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RonSijm.Blazyload</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FD 1 - Default
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dummy Auth
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata4">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cascade
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AWSAuth">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AWS Auth
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata3">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AWS Auth Page
            </NavLink>
        </div>

    </nav>
</div>

@code {

    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
